/* Основний стиль сторінки */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #1a1a40, #3a1a5f);
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
   }
/* Золотий текст із сяйвом */
   .gold-text {
  background-image: linear-gradient(
    to bottom,
    #ffd700, /* Золотой */
    #ffeb3b, /* Светло-золотой */
    #daa520  /* Темно-золотой */
  );
  -webkit-background-clip: text; /* Для Chrome/Safari */
  background-clip: text;
  color: transparent;
}
