/* Основний стиль сторінки */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #1a1a40, #3a1a5f);
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
   }
/* Золотий текст із сяйвом */
.gold-text {
    background: linear-gradient(
        90deg,
        #b8860b,
        #ffd700,
        #fff2b2,
        #ffd700,
        #b8860b
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow:
        0 0 6px rgba(255, 215, 0, 0.4),
        0 0 12px rgba(255, 215, 0, 0.25);
}

