/* Основний стиль сторінки */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #1a1a40, #3a1a5f);
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
   }

.gold-text {
    background: linear-gradient(
        180deg,
        #b8860b,
        #ffd700,
        #fcea90,
        #ffd700,
        #b8860b
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
