/* Основний стиль сторінки */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #1a1a40, #3a1a5f);
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
   }
/* Золотий текст із сяйвом */
   .gold-text {
  background-image: linear-gradient(
    to bottom,
    #ffd700, /* Золотой */
    #ffeb3b, /* Светло-золотой */
    #daa520  /* Темно-золотой */
  );
  -webkit-background-clip: text; /* Для Chrome/Safari */
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 8px rgba(255, 215, 0, 0.8), /* Мягкая тень */
               0px 1px 1px rgba(255, 255, 255, 0.5), /* Блик */
               0px 2px 2px rgba(0, 0, 0, 0.2); /* Контур */
}
